doctype html
html(lang="en")
    head
        title query vis
        link(rel="stylesheet" href="public/css/main.css")
        script(src='http://localhost:35729/livereload.js')
    body
        canvas#query_canvas

        script(src='public/js/main.js')
